/* #James Hibble 15/01/19 */
h1, #answers, #avgNum{
    text-align: center;
    color: #B22222;
}

body {
    background-color: burlywood;
}

#calcBody {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}